.cookieContent {
    position: fixed;
    bottom: 5px;
    right: .1px;
    z-index: 10;
}

.cookieContent li {
    list-style: none;
}


.cookieContent img {
    display: inline-block;
    margin-right: 20px;
    transition: 0.5s;
    cursor: pointer;
}

.cookieContent img:hover{
    transform: scale(1.18);
}

.cookieBtn {
    width: 40px;
}