.footer{
    padding-top: 50px;
    padding-bottom: 50px;
}

.iconFooter{
    width: 100%;
    display: flex;
    justify-content: center;
}


.imgIconFooter{
    width: 45px;
    margin-bottom: 80px;
}


ul{
    list-style: none;
}

.rowRow{
    display: flex;
    flex-wrap: wrap;
}

.col{
    width: 254px;
    padding: 0 12px;
}

