@font-face {
    font-family: 'brandonGrotesque';
    src: url(../fonts/BrandonGrotesque-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

.miniTextContainer{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    height: 55px;
}

.miniTextContainer a, .miniTextContainer p {
    font-family: 'brandonGrotesque';
    font-size: 14px;
    color: rgb(47, 63, 63);
    text-decoration: none;
}

.miniLeft{
    display: flex;
}

.miniLeft p{
    padding-right: 20px;
}

.miniLeft a:hover{
    color: #be9f56;   
}

.miniRigth{
    display: flex;
}

.miniRigth a:nth-child(2){
    margin-left: 20px;
}

.miniRigth a:hover{
    color: #be9f56;
    
}