.navButton{
    display: grid;
    place-items: center;
    height: 50px;
    width: 140px;
    font-size: 14px;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #be9f56;
    color: white;
    font-family: 'brandonGrotesque';
    font-size: 14px;
    transition: .2s;
}

.navButton:hover{
    background-color: #2f3f3f;
    transition: .2s;
}
