.navbar {
    position: absolute;
    display: flex;
    z-index: 1000;
    padding: 50px 10px;
    position: fixed;
    width: 100%;
    transition: .4s linear;
}

.navbar.sticky{
    background-color: #2f3f3f;
    border-bottom: #3b4d4d .1px solid;
    padding-top: 35px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.kinRossImg{
    width: 195px;
}

.littleLogo{
    width: 100px;
    margin: 0;
    padding: 0;
}

.navBody{
    display: flex;
}

.navBodyCont {
    flex-basis: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
    padding-right: 40px;
}

.navBodyContChanged {
    flex-basis: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 5px;
    padding-right: 20px;
}

.toggleBtnCont{
    flex-basis: 100%;
    padding-left: 35px;
    padding-top: 35px;
}

.toggleBtnContB {
    flex-basis: 100%;
    padding-top: 8px;
}

.logo{
    flex-basis: 100%;
    text-align: center;
}

.navBodyCont li{
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
}

.secondBtn{
    margin-left: 40px;
}

.hamBtn::before,
.hamBtn::after {
  content: ''; 
  position: absolute;
  width: 40px;
  height: 2px;
  background: #fff;
  transition: all .3s ease-in-out;  
}
.hamBtn::before {
  transform: translateY(-4px);
}
.hamBtn::after {
  transform: translateY(4px);
}

.hamBtnCont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.hamBtnCont.open .hamBtn::before {
    transform: rotate(45deg) ;
}

.hamBtnCont.open .hamBtn::after {
    transform: rotate(-45deg);
}